/* 4 external css*/

body {
    padding: 500px;
}

h3 {
    color: green;
    font-size: 30px;
}

/* classes */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* id */

#exclusive-title {
    background-color: violet;
    color: yellow;
    padding: 5px;
}

h2 {
    border-bottom: solid red;
}

.titulo {
    border-bottom: solid blue;
}

#algum-titulo {
    border-bottom: solid green;
}

/* nome de cores */
.color-name {
    color: rgb(129, 2, 27);
}

.hex {
    color: #56a599;
}

/* hex simplificado */

.hex-simple {
    color: #333;
}

.hex-simple-2 {
    color: #a5f;
}

/* rgb */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(158, 25, 17);
}

/* rgba */
.rgba {
    color: rgba(199, 100, 50, 0.3);
}

/* hsl */
.hsl {
    color: hsl(200, 60%, 30%);
    background-color: rgba(20, 20, 30, 0.2);  
}   

.hsl-2 {
    color: hsl(100, 50%, 20%);
}

/* Background-color */ 
.bg {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.bg-2 {
    background-color: #000;
    color: #275;
    border-radius: 5px;
    border-bottom: none;
}

/* opacidade */
.opa {
    color: #000;
    background-color: #999;
    opacity: 0.2;
}

.opa-2 {
    color: #000;
    background-color: #999;
    opacity: 0.8;
}

/* Rgba com opacidade */
.rgba-opacidade {
    color: #000;
    background-color: rgba(90, 120, 20, 0.2)
}

/* bg image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

/* centralizando bg img */ 
.not-centered-bg,
.centered-bg {
    height: 400PX;
    width: 400PX;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e altura */
.height-width {
    background-color: red;
    height: 300px;
    width: 100px;
}

.height-width-2 {
    background-color: #333;
    height: 300px;
}

/* padding */
.whithout-padding {
    background-color: #333;
    color: #fff;
}

.padding {
    background-color: #999;
    color: #000;
    padding: 20px;
}

/* paddings individuais */
.padding-individuais {
    color: #fff;
    background-color: #000;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* shorthands padding */
.shorthands {
    background-color: #000;
    color: #fff;
    padding: 6px 12px 18px 24px;
}

.shorthands-2 {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;

    /* padding: 10px 20px 10px 20px; */
}